<% layout('layout/boiler') %>

<div class="auth-page">
    <div class="auth-card">
        <h2 class="mb-4 text-center">Signup on Hotello</h2>
        <form action="/signup" method="POST" novalidate class="needs-validation">
          <div class="mb-3">
            <label for="Username" class="form-label">Username</label>
            <input
              name="username"
              type="text"
              placeholder="Enter Username"
              class="form-control"
              id="Username"
              required
            >
            <div class="valid-feedback">Nice one!</div>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input
              type="text"
              name="email"
              class="form-control"
              id="email"
              required
              placeholder="Enter email"
            >
            <div class="invalid-feedback">Please enter email</div>
          </div>

          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" placeholder="Enter Password" class="form-control" name="password" id="password" required>
          </div>
          <button class="btn add-btn btn-success mt-2 w-100">Submit</button>
        </form>
    </div>
</div>
